
/* body styles start */
body {
    background-color: rgb(8, 8, 8);
    margin: 0% ;
    font-family: 'Titillium Web', sans-serif;
}
/* body syles end */

/* header styles start */
nav {
    
}
nav ul {
    margin: 0%;
    text-align: center;
    /* background-color: #BEC5AD; */
    
}
nav ul li {
    display: inline-block;
    list-style: none;
    
}
nav ul li a {
    
    padding: 2em;
    text-decoration: none;
    color: white;
}
/* header styles end */

/* hero styling starts */
#hero_bg {
    background-image: url(../images/full-hd-black-wallpaper-10.jpg);
    background-size: cover;
    width: 100%;
    height: 40em;
}
#main_title {
    padding-top: 8em;
    padding-left: 2em;
}
/* hero styles ends */
h1,
h2,
h3 {
    color: rgb(255, 255, 255);
    font-size: 2em;
    line-height: 0.4em; 
    font-weight: 100;
}
p {
    color: #BEC5AD;
}
#green {
    width: 100%;
    height: 10em;
    background-color: rgb(46, 177, 20);
    background: linear-gradient(rgb(44, 170, 19), rgb(26, 97, 11));
    
}
#ya {
    padding-top: 3em;
    
}
#block {
    display: inline-block;
    background-color: grey;
    width: 40%;
    height: 35em;
    margin-left: 3%;
}
#about_content {
    display: inline-block;
    width: 40%;
    float: right;
    padding-right: 10%;

}#skillsmain_bg {
    text-align: center;
    padding: 8em;
    
}
.html_bg{
    display: inline-block;
}
.html_content {
    display: inline-block;
    width: 40%;
    padding-left: 4%;
}
.img {
    display: inline-block;
    background-color:rgb(26, 97, 11);
    width: 40%;
    height: 35em;
    float: right;
    margin-right: 4%;
    
}
#space {
    padding: 10em 0em;
}
.exp1 {
    width: 100%;
    height: 45em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0, 0.5)), url(../images/hah.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
.exp2 {
    width: 100%;
    height: 45em;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0, 0.5)), url(../images/LC-QR-Image-lime_i1920.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.exp3 {
    width: 100%;
    height: 45em;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0, 0.5)), url(../images/Logo-Life-Choices.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contentskill {
    text-align: center;
    padding-top: 3em;
    font-size: 3em;
    
}
#awe {
    
}

footer p {
    color: black;
    padding: 1em;
    background: linear-gradient(rgb(44, 170, 19), rgb(26, 97, 11));
    margin-bottom: 0%;
    margin-top: 5em;
}
#htmllogo{
    background-image: url(../images/HTML5_1Color_White.png);
    background-size: cover;
}
#csslogo {
    background-image: url(../images/css3_u2sgzp.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.icon {
    width: 3em;
    height: 3em;
}
#contact {
    padding-left: 3%;
    padding-top: 3%;
}
#cell {
    padding-left: 3%;
    padding-top: 5em;
}
#email {
    padding-top: 5em;
    padding-left: 3%;
}
h4 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    line-height: 0%;
    font-weight: 100;
}